h1, #inserir{
    text-align: center;
}

#button {
    border-radius: 20%;
    font-weight: bolder;
    background-color: white;
}


li button {
    border: solide black 1px;
    font-weight: bolder;
    background-color: white;
    color: red;
    position: relative;
    right: 5px;
    border-radius: 30%;

}

ul {
    font-size: 12px;
    position: relative;
    right: 30px;
    top: 30px;
    bottom: 90px;
    list-style-type: none;
}

li {
    margin: 0 0 8px 0;
}