


h1 {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
    background-color: black;
    color: white;
    font-weight: bold;
}

#inserir {
    margin-bottom: 5%;
    margin-top: 3%;
    padding-left: 2%;
}

h3 {
    margin: 10px 0 15px 0;
}

#button {
    border-radius: 20%;
    font-weight: bolder;
    background-color: white;
}


#lista {
    margin: auto;
    background-color: lightgray;
    margin-right: 50%;
}


li button {
    width: 10px;
    height: 13px;
    font-weight: bolder;
    background-color: red;
    color: red;
    border-radius: 30%;
    position: absolute;
    right: 0;
    margin-right: 3px;
}

ul {
    font-size: 12px;
    right: 30px;
    top: 30px;
    bottom: 90px;
    list-style-type: none;

}

li {
    border-bottom: solid grey 2px;
    align-items: center;
    margin-bottom: 7px;
    margin-top: 7px;
    padding-left: 3%;
    padding-right: 10px;
    width: 90%;
    display: flex;
    position: relative;
    justify-content: flex-start;
}

li input {
    position: absolute;
    align-self: center;
    left: -2px;
}